# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
.vs/

# Build output
/resource/plugins/lv_icon.lvlibp
*.xml

# .NET build artifacts
Tooling/runner-cli/**/bin/
Tooling/runner-cli/**/obj/
